@import "compass";

@mixin reset {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: default;
  @include user-select(none);
}

.tlFrameView{
  @include pie-clearfix;
  @include reset;
  *{
    @include reset;
  }
}

.tlLineView{
  @include pie-clearfix;
  float: left;
  overflow: hidden;
}

.tlLinesWrapper{
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling:touch;
  position: relative;
}

/* tlRuler */
.tlRulerView{
  float: left;
  text-align: center;
  font-size: 14px;
}

/* tlTimeline */
.tlLineView{
  &.tlEven{
    background-color: #f3f3f3;
  }
  &.tlOdd{
    background-color: #fbfbfb;
  }
  &.tlOver{
    background-color: #FFFED6;
  }
}

.tlLabelView{
  @include pie-clearfix;
  position: relative;
  z-index: 1000;
}

.tlLabel{
  font-size: 11px;
  text-align: center;
  height: 16px;
  line-height: 16px;
  color: #fff;
  background-color: #337ab7;
  overflow: hidden;
  float: left;
}

.tlLabel.tlHasRuler{
  @include border-top-left-radius(2px);
  @include border-bottom-left-radius(2px);
}

.tlLabel.tlPrevRuler, .tlLabel.tlLast{
  @include border-top-right-radius(2px);
  @include border-bottom-right-radius(2px);
}

.tlHourView{
  border-top: 1px solid #999;
}

.tlHourView:first-child{
  border-top: none;
}

.tlMinView{
  &.tl15, &.tl45{
    border-bottom: 1px dashed #ddd;
  }

  &.tl30{
    border-bottom: 1px solid #ccc;
  }
}

/* tlEventView */
.tlEventView{
  @include opacity(0.7);
  @include border-radius(5px);
  border: 1px solid #777;
  text-align: center;
  line-height: 17px;
}

.tlDraggingDisplay{
  @include opacity(1);
  position: absolute;
  top: -8px;
  left: 117%;
  @include border-radius(4px);
  border: 1px solid #aaa;
  background-color: #000;
  color: #fff;
  width: 92%;
  font-size: 11px;
  font-weight: bold;
  height: 18px;
  line-height: 18px;
  text-align: center;
  @include box-shadow(2px 2px 7px rgba(black, 0.4));
  &:after{
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 9px solid transparent;
    border-right-color: #000;
    left: -32%;
    top: 0;
  }
}

.tlDraggingEvent{
  @include box-shadow(2px 2px 7px rgba(black, 0.4));
  z-index: 1;
}

.tlResizableEvent{
  z-index: 1;
}

.tlResizeHandle{
  position: absolute;
  height: 18px;
  color: #333;
  font-size: 13px;
  width: 100%;
  top: 0;
  background-color: #fdfdfd;
  @include opacity(0.8);
  @include border-radius(3px);
  &.tlBottom{
    top: 100%;
    margin-top: -18px;
  }
}

.tlEventDisplay{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rmMenu{
  background-color: #f0f0f0;
  @include box-shadow(2px 2px 7px rgba(black, 0.4));
  @include border-radius(6px);
  padding: 5px 0;
  font-size: 14px;
}

.rmMenuItemList{
  margin: 0;
  padding: 0;
  list-style: none;
}

.rmMenuItem{
  @include user-select(none);
  cursor: default;
  padding: 0 15px;
  &.rmMouseOver{
    color: #fff;
    background-color: #4d9cfb
  }
  &.rmSeparator{
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: #dadada;
  }
  &.rmDisabled{
    color: #ccc;
  }
}
